html, body, #root, #root-inner {
    /* Fill the whole page */
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

* {
    /* Apply sane properties globally */
    box-sizing: inherit;
    font-family: inherit;
    font-size: inherit;
}

#root-inner {
    /* Horizontally center the content container in the page */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Page font */
    font-family: sans-serif;

    /* Use a sane margin/padding system */
    box-sizing: border-box;
}

.content {
    /* Flex layout for the container as well */
    display: flex;
    flex-direction: column;

    /* Set the content width to min(40em, page width) - padding */
    padding: 16px;
    max-width: 40em;
    width: 100%;
}

.content > * + * {
    /* Add some spacing between each element in the content container */
    margin-top: 16px;
}

.file-input > input {
    /* Hide the ugly file input controls (we style the label as a button) */
    display: none;
}

.file-input {
    /* Increase hit target size for the big main button */
    padding: 8px;
}

.file-input, button {
    /* Button and button-like control styling */
    display: block;
    border: 1px solid;
    border-radius: 0;
    border-color: #000;
    color: #000;
    background-color: #eee;
    text-align: center;
}

.file-input:hover, button:hover {
    background-color: #fff;
}

.file-input:active, button:active {
    background-color: #eee;
}

.upload-table {
    /* Fill width, no extra space between cells */
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
}

.upload-table > tbody > tr > td {
    /* Fixed height for each row */
    height: 2.5em;

    /* Ellipsize filename if too long */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.upload-table > tbody > tr > td > input[type=text],
.upload-table > tbody > tr > td > progress,
.upload-table > tbody > tr > td > button {
    /* Uniform styling for controls */
    border: 1px solid;
    border-radius: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 4px;
}

.filename-col {
    width: 25%;
}

.status-col {
    width: 50%;
}

.action-col {
    width: 25%;
}
